@font-face {
  font-family: bro;
  src: url(../fuente/BrothersBold.otf); }

body {
  font-family: bro;
  background-color: #202020;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh; }
  body .contenedorMenu {
    display: flex; }
  body .nav-item {
    font-size: 1.4rem; }
  body main div div {
    align-items: center; }
    body main div div .bienvenidos {
      color: #B3903A;
      font-size: 6rem; }
    @media (max-width: 768px) {
      body main div div .bienvenidos {
        font-size: 3rem;
        line-height: 3rem; } }
    body main div div .bienvenida {
      color: whitesmoke;
      font-size: 2rem;
      padding-left: 1rem; }
    @media (max-width: 768px) {
      body main div div .bienvenida {
        font-size: 1.5rem;
        line-height: 3rem; } }
    body main div div .linkHomeNosotros a {
      border: 3px solid #B3903A;
      padding: 1.2rem;
      text-decoration: none;
      color: #B3903A;
      border-radius: 2rem;
      display: inline-block;
      margin-top: 1rem;
      margin-left: 5rem; }
    body main div div .linkHomeNosotros a:hover {
      transform: scale(1.1);
      transition: 0.7s; }
    @media (max-width: 768px) {
      body main div div .linkHomeNosotros {
        font-size: 0.8rem;
        padding: 0.5rem; } }
    body main div div .imgHome1 {
      margin-top: 1.2rem; }
  body main div .hashtagMBox {
    font-size: 8rem; }
  @media (max-width: 768px) {
    body main div .hashtagMBox {
      font-size: 4rem; } }
  body main div .encabezadoHomeMenu {
    font-size: 5rem;
    color: #B3903A; }
  @media (max-width: 768px) {
    body main div .encabezadoHomeMenu {
      font-size: 4rem; } }
  body main div .parrafoHomeMenu {
    font-size: 1.3rem;
    color: whitesmoke; }
  @media (max-width: 768px) {
    body main div .parrafoHomeMenu {
      font-size: 1.5rem; } }
  body main div .linkHomeMenu a {
    border: 3px solid #B3903A;
    text-decoration: none;
    color: #B3903A;
    border-radius: 30px;
    padding: 1rem; }
  body main div .linkHomeMenu:hover {
    transform: scale(1.1);
    transition: 1s; }
  @media (max-width: 768px) {
    body main div .linkHomeMenu {
      font-size: 0.8rem;
      padding: 1rem; } }
  body main div .redesHome {
    font-size: 4rem;
    color: #424242; }
  @media (max-width: 768px) {
    body main div .redesHome {
      font-size: 3rem; } }
  body main div .logoRedesHome:hover {
    transform: scale(1.1);
    transition: 0.5s; }
  body footer {
    position: absolute;
    height: auto;
    bottom: 0; }
    body footer .magicFooter a {
      text-decoration: none;
      color: #B3903A; }
    body footer .derechosFooter {
      color: whitesmoke; }

.mainNosotros section {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem; }
  @media (min-width: 800px) {
    .mainNosotros section {
      display: flex; } }
  .mainNosotros section div {
    width: 100%;
    padding: 1rem 1.5rem; }
    .mainNosotros section div .h1Nosotros {
      font-size: 3rem;
      width: 100%;
      line-height: 0.2rem;
      margin: auto;
      margin-bottom: 3.5rem;
      margin-left: 2rem;
      color: #B3903A; }
      @media (min-width: 800px) {
        .mainNosotros section div .h1Nosotros {
          font-size: 5rem;
          line-height: 1.5rem; } }
    .mainNosotros section div .parrafoNosotros {
      color: whitesmoke;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: auto;
      margin-left: 2rem; }
      @media (max-width: 768px) {
        .mainNosotros section div .parrafoNosotros {
          font-size: 1.2rem; } }
    .mainNosotros section div .videoNos {
      object-fit: cover; }

.mainNosotros div {
  align-items: center;
  text-align: center;
  background-color: #202020; }
  .mainNosotros div .hashtagMB {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: #151515;
    padding: auto; }
    @media (min-width: 800px) {
      .mainNosotros div .hashtagMB {
        font-size: 7rem; } }
  .mainNosotros div .ConoceMenu {
    font-size: 1rem;
    border: 3px solid #B3903A;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    display: inline-block; }
    .mainNosotros div .ConoceMenu:hover {
      transform: scale(1.1);
      transition: 0.7s; }
    .mainNosotros div .ConoceMenu a {
      text-decoration: none;
      color: #B3903A; }
    @media (min-width: 800px) {
      .mainNosotros div .ConoceMenu {
        font-size: 2rem; } }

.mainNosotros .imgNosotros {
  padding: 1.5rem; }
  .mainNosotros .imgNosotros img {
    object-fit: cover; }

.mainNosotros .seccionRedes {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30vh; }
  @media (min-width: 800px) {
    .mainNosotros .seccionRedes {
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 1px; } }
  .mainNosotros .seccionRedes .desdeRedesNos .redesNosotros {
    display: none; }
    @media (min-width: 800px) {
      .mainNosotros .seccionRedes .desdeRedesNos .redesNosotros {
        display: inline-block;
        font-size: 3rem;
        color: #B3903A; } }
  @media (min-width: 800px) {
    .mainNosotros .seccionRedes .logosRedes {
      width: 100%; } }

main section .h1Contacto {
  color: #B3903A;
  font-size: 6.25rem; }
  @media (max-width: 768px) {
    main section .h1Contacto {
      font-size: 4rem; } }

main section div .contactanos {
  color: whitesmoke;
  font-size: 2.2rem; }
  @media (max-width: 768px) {
    main section div .contactanos {
      font-size: 1.5rem; } }

main section .encabezadoForm {
  background-color: #8a7131;
  border: 3px solid #B3903A;
  color: #B3903A;
  border-radius: 2rem; }

main section .encabezadoForm h3 {
  color: #202020;
  font-size: 2.5rem; }
  main section .encabezadoForm h3:hover {
    transform: scale(1.1);
    transition: 0.7s;
    text-transform: uppercase; }

main section div .mensajeForm {
  height: 6.25rem; }

main section div .camposForm {
  color: whitesmoke; }

main section form .enviarForm {
  text-transform: uppercase; }

main .encabezadoMenu {
  margin: 1rem; }

main section .h1Menu {
  color: #B3903A;
  font-size: 8rem;
  text-align: center; }
  @media (max-width: 768px) {
    main section .h1Menu {
      font-size: 6rem; } }

main section .parrafoMenu {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  margin: auto; }
  @media (max-width: 768px) {
    main section .parrafoMenu {
      font-size: 1.5rem; } }

main div .intervaloMenu {
  font-size: 5rem;
  text-align: center;
  color: #424242; }

main div .intervaloMenu1 {
  color: #B3903A;
  font-size: 10rem;
  text-align: center; }

main div .intervaloMenu1:hover {
  transform: scale(1.1);
  transition: 0.7s;
  text-transform: lowercase; }

main div .gustoTitulo {
  color: #B3903A;
  font-size: 2rem; }

main div .gustoDescripcion {
  color: whitesmoke; }

main div .pedirMenu a {
  border: 3px solid #B3903A;
  text-decoration: none;
  color: #B3903A;
  border-radius: 1.3rem;
  padding: 0.3rem; }

.mainMenu {
  display: grid;
  grid-template-columns: "h1Menu" "parrafoMenu" "intervaloMenu" "intervaloMenu1";
  justify-content: center;
  align-items: center; }

.h1Menu {
  grid-area: h1Menu; }

.parrafoMenu {
  grid-area: parrafoMenu; }

.intervaloMenu {
  grid-area: intervaloMenu; }

.intervaloMenu1 {
  grid-area: intervaloMenu1; }

.mainGaleria section .encabezadoMM {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem; }
  .mainGaleria section .encabezadoMM .encabezadoGaleria {
    font-size: 8rem;
    padding-top: 2rem;
    margin: auto;
    color: #B3903A; }
    .mainGaleria section .encabezadoMM .encabezadoGaleria:hover {
      transform: scale(1.1);
      transition: 0.7s; }
    @media (max-width: 768px) {
      .mainGaleria section .encabezadoMM .encabezadoGaleria {
        font-size: 6rem; } }
  .mainGaleria section .encabezadoMM .parrafoGaleria {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: auto;
    color: whitesmoke; }
    @media (max-width: 768px) {
      .mainGaleria section .encabezadoMM .parrafoGaleria {
        font-size: 1.2rem;
        line-height: 1.5rem; } }

.mainGaleria .hashtagGaleria {
  background-color: #272727;
  width: 100%;
  text-align: center;
  color: #151515;
  justify-content: center;
  padding: 0.2rem; }
  .mainGaleria .hashtagGaleria .pensadoGaleria {
    font-size: 5rem; }
    @media (max-width: 768px) {
      .mainGaleria .hashtagGaleria .pensadoGaleria {
        font-size: 3rem; } }
  .mainGaleria .hashtagGaleria .comoPedirGaleria {
    font-size: 30px;
    border: 3px solid #B3903A;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    display: inline-block; }
    .mainGaleria .hashtagGaleria .comoPedirGaleria:hover {
      transform: scale(1.1);
      transition: 0.7s; }
    .mainGaleria .hashtagGaleria .comoPedirGaleria a {
      text-decoration: none;
      color: #B3903A; }
    @media (max-width: 768px) {
      .mainGaleria .hashtagGaleria .comoPedirGaleria {
        font-size: 1rem; } }

.mainGaleria .galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding: 2rem; }
  .mainGaleria .galeria .galeria4 {
    grid-column-start: span 2; }
  .mainGaleria .galeria .galeria5 {
    grid-row-start: span 2; }
  .mainGaleria .galeria div .imagenGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem; }
  @media (min-width: 768) {
    .mainGaleria .galeria {
      grid-template-columns: repeat(4, 1fr); }
      .mainGaleria .galeria .galeria3 {
        grid-column-start: span 2; }
      .mainGaleria .galeria .galaria1 {
        grid-row-start: span 2; }
      .mainGaleria .galeria .galeria6 {
        grid-column-start: span 2; } }

footer {
  position: absolute;
  height: auto;
  bottom: 0; }
  footer div .magicFooter a {
    text-decoration: none;
    color: #B3903A; }
  footer div .derechosFooter {
    color: whitesmoke; }
